<div class="bg-main-light p-4">
  <h2>Get the FreshCart app</h2>
  <span class="text-muted my-2 d-block">We will send you a link, open it on your phone to download the app.</span>
    <div class="row gy-2 align-items-center">
      <div class="col-md-10">
        <input type="email" placeholder="Email..." class="form-control">
      </div>
      <div class="col-md-2 d-flex align-items-center">
        <button class="btn btn-main my-auto">Share App Link</button>
      </div>
    </div>
  <div class="d-flex align-items-center border-bottom border-top p-3 mt-3">
    <h3 class="h6 me-3">Payment Partners</h3>
    <img src="./assets/imgs/visa.svg" width="30px" alt="">
    <img src="./assets/imgs/master.svg" width="30px" alt="">
  </div>
  <h3 _ngcontent-ng-c3480491735="" class="h6 text-center mt-3">© 2024 Ahmed Emad All Rights Reserved</h3>
</div>
