
<section class="w-75 mx-auto bg-main-light p-3 rounded my-2">
  <h2>CheckOut</h2>
  <form [formGroup]="orderForm" (ngSubmit)="handleForm(this.orderForm)">
    <div class="form-item">
      <label for="details" class="fw-bold">Details:</label>
      <input type="text" id="details" formControlName="details" class="form-control">
      <div class="alert alert-danger mt-2"
      *ngIf="(orderForm.get('details')?.touched || orderForm.get('details')?.value.length>0) && orderForm.get('details')?.errors">
      <p *ngIf="orderForm.get('details')?.getError('required')">Details Are Required</p>
    </div>
    </div>
    <div class="form-item">
      <label for="phone" class="fw-bold">Phone:</label>
      <input type="tel" id="phone" formControlName="phone" class="form-control">
      <div class="alert alert-danger mt-2"
      *ngIf="(orderForm.get('phone')?.touched || orderForm.get('phone')?.value.length>0) && orderForm.get('phone')?.errors">
      <p *ngIf="orderForm.get('phone')?.getError('required')">Phone is Required</p>
      <p *ngIf="orderForm.get('phone')?.getError('pattern')">Phone Must Be Egyptian</p>
    </div>
    </div>
    <div class="form-item">
      <label for="city" class="fw-bold">City:</label>
      <select id="city" formControlName="city" class="form-control">
        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        <div class="alert alert-danger mt-2"
        *ngIf="(orderForm.get('city')?.touched || orderForm.get('city')?.value.length>0) && orderForm.get('city')?.errors">
        <p *ngIf="orderForm.get('city')?.getError('required')">City Is Required</p>
      </div>
      </select>
    </div>
    <button type="submit" class="btn btn-main" [disabled]="orderForm.invalid">CheckOut</button>
  </form>
</section>
