<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="./assets/imgs/freshcart-logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/products" routerLinkActive="active-link">Products</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active-link">Categories</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/brands" routerLinkActive="active-link">Brands</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user text-main"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="Loggedforgotpass">Forgot Password</a></li>
          </ul>
        </li>
        <li class="nav-item text-center fs-4 me-2 position-relative p-1">
          <a class="nav-link" routerLink="/whishlist">
            <i class="fa fa-heart text-danger"></i>
          </a>
          <span class="badge position-absolute top-0 end-0 bg-main font-sm p-1">{{whishlistNum
            || 0}}</span>
        </li>
        <li class="nav-item text-center fs-4 me-2 position-relative p-1">
          <a class="nav-link" routerLink="/carts">
            <i class="fa fa-shopping-cart text-main"></i>
          </a>
          <span class="badge position-absolute top-0 end-0 bg-main font-sm p-1">{{cartListNum
            || 0}}</span>
        </li>
        <li class="nav-item">
          <i class="cursor-pointer fa-brands me-3 fa-instagram"></i>
          <i class="cursor-pointer fa-brands me-3 fa-facebook"></i>
          <i class="cursor-pointer fa-brands me-3 fa-youtube"></i>
        </li>
        <li (click)="_AuthService.logOut()" class="nav-item active-link p-2 bg-danger" role="button">
          <span class="fw-bold">SignOut</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
